* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2%;
}

.top-content-wrapper {
    flex-grow: 1
}

.container {
    width: 1400px;
}

.bg-img-index {
    background-image: url(img/background-wall.jpeg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(231, 18, 18);
    padding-bottom: 50px;
    margin-top: 30px;
}

.main-box-img {
    align-items: center;
    align-self: center;

}

.main-box-button {
    display: flex;
    justify-content: center;
}

.main-button {
    padding: 10px 80px 10px 80px;
    border-radius: 10px;
    font-family: 'Arial Narrow';
    color: white;
    background-color: red;
    font-size: large;
    font-weight: 500;
    border: 2px solid rgb(246, 242, 242);

}




.bg-img-main {
    background-image: url(img/fon1.jpeg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.img-block {
    height: 200px;
}



.item-box-header {
    position: absolute;
    z-index: 1;
    padding-top: 80px;
    padding-left: 50px;
    transform: rotate(20deg);
}

.item-box-text {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-img-bg {
    opacity: 0.3;
    width: 100%;
    background-color: rgb(210, 24, 24);
    display: flex;
    justify-content: center;
    position: absolute;

}

.section-box {
    position: relative;
    padding-top: 20px;
}

.section-item-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.sectionAboutUs {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border: 1px solid #000;
    flex-direction: column;
}

.section-aboutUsText {
    font-size: 35px;
    color: aliceblue;
    padding-bottom: 20px;

}

.contactsAboutUs {
    display: flex;
    justify-content: space-between;
}

.blockLink {
    text-decoration: none;
    font-size: 35px;
    color: aliceblue;
    z-index: 1;
}

.blockLink:hover {
    color: red;

}

.blockTelefoneImg {
    width: 200px;
    height: 200px;
}

.section-item {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.section-text {
    color: aliceblue;
    width: 48%;
    align-self: center;
}

.section-text:hover {
    color: #000;
}


.section-item-img {
    width: 350px;
    height: 180px;
    opacity: 0.7;
    border: 1px solid #000;
}

.fa-solid {
    color: aliceblue;

}

/* contacts */
.sectionContactsBox {
    display: flex;
}


.sectionContactsBoxLeft {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sectionContactsBoxRight {

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.sectionContacts {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.sectionContactsImg {
    width: 25%;
}



/* documents */
.swiper-box {
    padding-top: 50px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
}